.CreateReport{
    display: grid;
    grid-template-columns: 40% 60%;
}
.DataInput{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.DataInput .AutoCompleteComponent {
    width: 100%;
    margin-bottom: 10px;
}
.MyButton{
    width: 120px;
    height: 40px;
    background-color: pink;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    border: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 50px;
    align-self: flex-end;
}
.MyButton:hover{
    cursor: pointer;
    background-color: aquamarine;
}
@media only screen and (max-width: 1300px){
.CreateReport{
    display: flex;
    flex-direction: column;
}
.DataInput{
    margin-bottom: 25px;
    margin-right: 0px;
}
.DataInput .AutoCompleteComponent {
    width: 100%;
    margin-bottom: 10px;
}
}