.Modal{
    width: 50vw;
    height: 50vh;
    position: fixed;
    top: 20vh;
    left: 25vw;
    z-index: 3;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: white;
}
.ModalHeader {
    height: 40px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.CloseModal{
    margin-right: 8px;
    color: gray;
}
.ModalBody{
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    margin: auto;
    align-items: center;
    justify-content: center;
}
.ModalBody .MuiTextField-root{
    margin-bottom: 20px;
}
.ModalBody .MyButton {
    margin-bottom: 0px;
    align-self: center;
}