.NursesAndDays{
    width: 100%;
    grid-column: 1/3;
    margin-top: 50px;
    margin-bottom: 50px;
}
table{
    padding: 10px 0px 10px 0px;
    color: gray;
    border-style: hidden; 
    border-collapse: collapse;
    box-shadow: 0 0 0 1px lightgray; /* this draws the table border  */ 
    border-radius: 4px;
}
th,td{
    border-left: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}
tr{
    border: 1px solid lightgray;
}
table tr:last-child td:first-child{
    border-bottom-left-radius: 4px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

th,td{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root:hover{
    cursor: pointer;
    color: red;
}
